.content {
    padding: auto;
    margin: auto;
    text-align: center;
    margin-top: 7%;
  }
  .main {
    margin: auto;
    padding: 0px 30px 20px 30px;
  }
  .title-modal {
    font-family: Product Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 30px;
    /* identical to box height, or 107% */
  
    text-align: center;
  
    color: #222222;
  }
  
  form label {
    font-family: Product Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #222222;
    margin-bottom: 5px;
  }
  .form-control {
    background: #F7F7F7;
    border-radius: 8px;
    padding: 15px 12px;
    font-family: Product Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 160%;
    color: #222222;
    width: 350px;
    height: 50px;
    border: none;
  }
  .form-group {
    text-align: left;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  
  .login-btn {
    background: #497ef6;
    border: 1px solid #497ef6;
    border-radius: 4px;
    width: 350px;
    height: 50px;
    font-family: Product Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
  
    color: #ffffff;
  }
  .forgot-btn {
    background: #ffffff;
    border: 1px solid rgba(34, 34, 34, 0.2);
    border-radius: 4px;
    width: 350px;
    height: 50px;
    font-family: Product Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    margin-top: 10px;
    color: #222222;
  }
  .row-padding {
    padding: 0px;
  }
  
  p {
    font-family: Product Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 160%;
  
    text-align: center;
  
    color: #000000;
  
    opacity: 0.5;
  }
  
  .tab-buttons {
    text-align: center;
    display: flex;
    justify-content: center;
  }
  
  .active-tab {
    background: #222222 !important;
    border: 1px solid #222222 !important;
    color: #ffffff !important;
  }
  .active-tab span {
    color: #ffffff !important;
  }
  .tab-buttons .btns {
    height: 50px;
    width: 255px;
    border-radius: 4px;
    padding: 16px 16px;
    background: #ffffff;
    border-radius: 8px;
    border: 1px solid #222222;
    margin: 15px;
    cursor: pointer;
  }
  .btns input[type="radio"] {
    margin-right: 10px;
  }
  .btns span {
    float: left;
    font-family: Product Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #222222;
  }
  .hint {
    font-family: Product Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 160%;
    /* or 22px */
  
    color: #000000;
  
    opacity: 0.5;
  }
  form {
    margin-left: auto;
    margin-right: auto;
    width: min-content;
  }
  
  .close-btn {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0.08%;
    bottom: -0.08%;
    background: #ffffff;
  }
  .skip-btn{
    margin-top: 10px;
    height: 30px;
    width: 71px;
    background: transparent;
    border-radius: 4px;
    font-family: Product Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    float: right;
  }
  .uname-suggest-btn{
    margin-bottom: 20px;
    height: max-content;
    width: max-content;
    background: transparent;
    border-radius: 11px;
    font-family: Product Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    float: left;
  }
  .mat-icon {
    background-repeat: no-repeat;
    display: inline-block;
    fill: currentColor;
    height: 24px;
    width: 15px !important; 
    font-size: 17px !important;
}
  
  