<div class="content">
  <div class="main main-container">
    <div class="center-card">
      <div>
          <div class=" title">
              <h2>Reset Password</h2>
          </div>
        <form [formGroup]="resetForm">
          <div class="form-group mb-4">
            <label for="password">Enter new Password</label>
            <input
              type="password"
              formControlName="password"
              class="form-control"
              placeholder="Enter your passsword"
            />
            <span class="hint"
              >Minimum 10 characters with at least 1 letter and 1 number
            </span>
            <div
              class="text-danger"
              *ngIf="
                formSubmit &&
                (resetForm.get('password').hasError('required') ||
                  resetForm.get('password').hasError('hasNumber') ||
                  resetForm.get('password').hasError('hasLater') ||
                  resetForm.get('password').hasError('minlength'))
              "
            >
              <small>Please enter valid password*</small>
            </div>
          </div>
          <div class="form-group mb4">
            <label for="password">Confirm Password</label>
            <input
              type="password"
              formControlName="confirmPassword"
              class="form-control"
              placeholder="Enter your confirm passsword"
            />
            
            <div
              class="text-danger"
              *ngIf="formSubmit && resetForm.hasError('notSame')"
            >
              <small>Password must match*</small>
            </div>
            </div>

          <button class="login-btn" (click)="confirmEmail()">
            Reset Password
          </button>
        </form>
      </div>
    </div>
  </div>
</div>


<div [class.loader-hidden]="!show">
    <div class="loader-overlay">
        <div>
            <div *ngIf="show" class="loader"></div>
        </div>
    </div>
  </div>

