

<app-header-component></app-header-component>

<div style="text-align: center; padding: 12px;clear: both;">
  <h1 mat-dialog-title class="title-modal">Sign In or Register</h1>
</div>

<div class="main">
  <div class="tab-buttons">
    <div class="btns " [ngClass]="{'active-tab': newCustomer}" (click)="changeTab('new')">
      <span> <input type="radio" name="tabs" />I am a new customer </span>
    </div>

    <div class="btns" [ngClass]="{'active-tab': !newCustomer}" (click)="changeTab('old')">
      <span> <input type="radio" name="tabs" />I am a returning customer </span>
    </div>
</div>

  <div class="row row-padding" *ngIf="newCustomer">
    <div class="col-sm-2"></div>

    <div class="col-sm-8">
      <div>
        <!-- Resgister Section -->
        <form [formGroup]="registerForm">
      

          <div class="form-group mb-4">
            <label for="password">First name</label>
            <input
              type="text"
              name="fullName"
              class="form-control"
              formControlName="fullName"
              placeholder="Enter your full name"
            />
            <div
              class="text-danger"
              *ngIf="
                registerIsSubmitted &&
                registerForm.get('fullName').hasError('required')
              "
            >
              <small>Please enter full name*</small>
            </div>
          </div>

          

         

          <div class="form-group">
            <label for="email">Email</label>
            <input
              type="email"
              name="email"
              formControlName="email"
              class="form-control"
              placeholder="Enter Your Email"
            />
            <div
              class="text-danger"
              *ngIf="
                registerIsSubmitted &&
                (registerForm.get('email').hasError('required') ||
                  registerForm.get('email').hasError('email'))
              "
            >
              <small>Please enter valid email address*</small>
            </div>
          </div>

         

         

          <button class="login-btn" (click)="registerUser()">
            Register Now
          </button>
          <div style="margin-top: 10px">
            <p>
              By clicking the REGISTER NOW button you agree to our
              <a href="">Term & Conditions.</a>
            </p>
          </div>
        </form>
      </div>
    </div>
    <div class="col-sm-2"></div>
  </div>
  <div class="row row-padding" *ngIf="!newCustomer">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
      <div>
        <form [formGroup]="loginForm" *ngIf="!forgotPassword">
          <div class="form-group">
            <label for="email">Email</label>
            <input
              type="email"
              class="form-control"
              formControlName="email"
              placeholder="Enter Your Email"
            />
            <div
              class="text-danger"
              *ngIf="
                loginIsSubmitted &&
                (loginForm.get('email').hasError('required') ||
                  loginForm.get('email').hasError('email'))
              "
            >
              <small>Please enter valid email address*</small>
            </div>
          </div>
         
  
          <button class="login-btn" (click)="logIn()">Submit</button>
  
        </form>


       

      </div>
     
    </div>
    <div class="col-sm-2"></div>
  </div>
  
</div>
<div [class.loader-hidden]="!show">
  <div class="loader-overlay">
      <div>
          <div *ngIf="show" class="loader"></div>
      </div>
  </div>
</div>
